body #layoutExample{
  font: 10px sans-serif;
}

#layoutExample .axis path,
#layoutExample .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#layoutExample .area {
  fill: steelblue;
}