#layoutExample .node {
  cursor: pointer;
}

#layoutExample .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#layoutExample .node text {
  font: 10px sans-serif;
}

#layoutExample .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}