.treeLayout .node {
  cursor: pointer;
}

.treeLayout .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.treeLayout .node text {
  font: 10px sans-serif;
}

.treeLayout .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}